extends baseEmail 

block content 

    p Hi #{firstName},
    p Forgot your password, click the link below to reset it
    p Please ignore this message if you do not wish to reset your password
    table.btn.btn-primary(role='presentation', border='0', cellpadding='0', cellspacing='0')
        tbody
            tr
                td(align='left')
                    table(role='presentation', border='0', cellpadding='0', cellspacing='0')
                        tbody
                            tr
                                td
                                    a(href=`${url}`, target='_blank') reset password
    p If you need any help, please don't hesitate to contact me!
    p - Tony